form {
  display: flex;
  flex-direction: column;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyf {
  display: flex;
  align-items: center;
  justify-content: center;
}
